*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    width: 100%;
    height: 200vh;
    
}
/*Header*/

#header{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;
    
    position: sticky;
    top: 0;
    
    
}






.img-header{
    width: 150px;
    height: auto;
}


.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*nav*/

.ul-nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-inline-start: 2rem;
    text-wrap: nowrap;

}

.nav-items{
    color: rgba(0, 0, 0, 0.804);
}

.nav-items:hover{
    color: rgba(0, 0, 0, 0.543);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/*header-right (SESION IDIOMA)*/

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sesion{
    border: 1px solid rgba(0, 0, 0, 0.884);
    padding: .7rem;
    border-radius: 10px ;
    font-weight: bolder;
}

.sesion:hover{
    border-color: rgba(0, 0, 0, 0.543);
    cursor: pointer;
    transition: all 0.1s linear;
}
.humb img{
    width: 30px;
    height: auto;
    cursor: pointer;
    display: none;
}
@media (max-width: 960px) {
    .ul-nav{
        display: none;
    }
    .header-right a{
        display: none;
    }   
    .humb img{
        display: block;
    }
}

@media (min-width: 350px) {
    .body{
        min-width: 350px;
    }
}




/*MAIN SECCION ARTICLE CLASE 29 SEPtiembre TAREA*/


#main{
    width: 100%;
}

#article{
    width: 100%;
    height: 700px;
    color: white;
    background-color: #16044b;

    display: flex;
    
    align-items: center;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 40px;
   
} 



.title h2{
    font-size: 36px;
    padding-block-start: 70px;
    padding-block-end: 40px;
}

.title p{
    width: 60%;
    text-align: center;

}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card{
    
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-color: #2f1c6a;
    padding: 20px;
}


.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.image-card{
    width: 35px;
    background-color: #673de6;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px solidt transparent;
}

.image-card img{
    width: 100%;
    height: auto;
    filter: invert();
    
}

.boton-section{
    margin-top: 60px;
}
.boton{
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #673de6;
    color: white;
    cursor: pointer;
}

.boton:hover{
    background-color: #562bc1;
    transition: all 0.2s ease-out;
}
